.sidebar {
  position: sticky;
  top: 200px;
  /*background-color: red;*/
  flex: 1;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__avatar {
  margin-bottom: 10px;
  object-fit: contain;
  height: 150px !important;
  width: 150px !important;
}

.sidebar__top > h3 {
  color: #6b9d6f;
  font-size: 14px;
  font-weight: 800px;
  line-height: 0px;
  padding: 5px 0px;
}

.sidebar__top > h2 {
  font-size: 24px;
  line-height: 0px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__top > img {
  margin-bottom: -80px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: grey;
  font-size: 13px;
  font-weight: 600;
  padding: 0px 20px;
}

.grouped {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px 100px;
  padding: 10px;
  margin-bottom: 50px;
}
.grouped > span {
  display: flex;
  border-bottom: 1px solid lightgray;
  color: grey;
  font-size: 1.5em;
  font-weight: 600;
}
.espacio {
  height: 3rem;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-size: 13px;
  font-weight: 600;
  padding: 0px 20px;
}

.values > select {
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: lightgrey;
  border: 0px;
}

.values > select > option {
  color: grey;
  font-size: 13px;
  font-weight: 600;
}

.values > input {
  width: 70%;
  height: 0.5rem;
  text-align: right;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  /*margin-bottom: 10px;*/
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  margin-bottom: 50px;
  transition: 1.5s;
  max-height: 50px;
  overflow: hidden;
}
.sidebar__detail > .detailCabecera,
.sidebar__detail_ampliado > .detailCabecera {
  display: flex;
  justify-content: right;
}
.sidebar__detail > .detailContenido {
  display: flex;
  justify-content: space-between;
}

.sidebar__detail_ampliado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;

  max-height: 100vh;
  transition: all 1.5s;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.enLinea{
    display: flex;
    justify-content: space-around;
    
}

.sidebar__stats {
  padding: 10px;
  /*margin-bottom: 10px;*/
  border: 1px solid lightgray;
  border-bottom: 0px solid lightgray;
  /* border-bottom-left-radius: 10px;*/
  /* border-bottom-right-radius: 10px;*/
  background-color: white;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: grey;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 5px;
}

.companyAdd {
  background-color: #6b9d6f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 10px;
  border: 2px solid #6b9d6f;
  padding: 8px 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0px;
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.companyAdd:hover {
  background-color: #b0e2b8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 10px;
  border: 2px solid #6b9d6f;
  padding: 8px 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 13px;
}

.companyAdd_icon {
  width: 1.2rem;
}

.tabs {
  margin: 30px 50px 70px 50px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
}

.label:before {
  font-weight: normal;
  margin-right: 10px;
}

.label:hover {
  color: #888;
  cursor: pointer;
}

.tab:checked + .label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
