body {
  font-family: 'Raleway', 'Cabin' sans-serif, ;
  /* background-image: linear-gradient(69deg, #6b9d6f, #b0e2b8 48%); */
  /* box-sizing: border-box; */
}

.navbar {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

  
  
}

/* NavBar */

.navbar_logo {
  /* border: solid 3px #ccc;  */
  padding: 20px;
  width: 20%;
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.navbar h2{
  margin-bottom: 0px ;
}

.navbar_button {
  margin: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  


}


.navbtn {
  margin-top: 20px;
  border: none;
  background-color: #6B9D6F;
  padding: 24px 20px;
  border-radius: 70px;
  cursor: pointer;
}
.navbtn:hover {
  background-color: #B0E2B8;
  margin-top: 20px;
  border: none;
  padding: 24px 20px;
  border-radius: 70px;
  cursor: pointer;
  
}

a {
  text-decoration: none;
  color: black
}

.navbtn_unirse {
  margin-top: 20px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 70px;
  cursor: pointer;
  
  color: black;
}

.big_container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap:60px;
   
}



.login_form,
.register-form {
  width: 25rem;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.reg-img {
  background-color: white;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  background-color: white;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: #8d8d8d;
  ;
  background-color: #ededed;
}

.link-btn {
  
  border: none;
  background: none;
  color: #767676;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
      
    
  }
}

.logoIntro {
  width: 900px;
  display: flex;
  margin-left:-100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logoIntro>img {
  width: 100%;
}








.login_form>h1 {
  font-size: 2.5rem;
  line-height: 3.8rem;
  font-weight: 500;
}

.login_form>h3 {
  
  font-weight: 400;
}



.auth-form-container .reg-img {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.auth-form-container>h2 {
  text-align: center;
}


.submit-button{
  margin-top: 20px;
  border: none;
  background-color: #6B9D6F;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  
}

.submit-button:hover {
  margin-top: 20px;
  border: none;
  background-color: #B0E2B8;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 0.2s;


}

  @media screen and (max-width: 880px) {

    .navbar {
     
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;      
      justify-content: center;
      
    }

    navbar_button{
      display: grid;
    }

    
  .big_container {
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap:60px;
       
    }
  
    .logoIntro{
      display: none;
    }
  }


  @media screen and (max-width: 475px) {
    .login_form{
  width: 100vh;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

    
  }
