

.suggest_card{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    gap:10px;
    margin: 10px 0px;
    border-radius: 15px;
    
    
    
}

.left_side{
    display: flex;
    cursor: pointer;
    
    
}

.picture{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50px;


}


.center h3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    

    font-size: 12px;
    line-height: 15px;
}

.center p{
    font-size: 9px;
    line-height: 15px;
}



.button_right_follow{
    font-size: 10px;
    border:none;
    background-color: #6B9D6F;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;

}

.button_right_follow{
    font-size: 10px;
    border:none;
    background-color: #6B9D6F;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;

}

.button_right_follow:hover{
    font-size: 10px;
    border:none;
    background-color: #B0E2B8;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;

}


.button_right_unfollow{
    font-size: 10px;
    border:none;
    background-color: #878787;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
.button_right_unfollow:hover{
    
    background-color: #b52b2b;
    transition: 0.3s;
    
    cursor: pointer;

}