
*{
    margin: 0;
    padding: 0;
}
.general{
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #E2E2E2;
    box-sizing: border-box;
}
.header{
    min-height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4%;

    
}
.header h3{
    font-size: 90px;
    color: #6b9d6f;
}
.header h1{
    margin-bottom: 1%;
}
.body{
    height: 80%;
    display: flex;
    align-items: center;
    margin-left: 4%;

}
.body__1{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.body__2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgCentral{
    width: 80%;    
}
.barrs{
    width: 10%;
}
.bulma{   
    margin-bottom: 2%;
}
.bhome{
    background-color: #6b9d6f;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    transition: box-shadow .3s;
    border: 0px;
}
.bhome:hover {
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75); 
  }