.header__post {
    padding: 10px;
    padding-bottom: 25px;
    position: sticky;
    top: 50px;
    /* flex: 0.2; */
   background-color: #6B9D6F;
   color: rgb(250, 217, 204);
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-bottom: 10px; 
}