.home{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
     
    
}

.home__body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100vw;
}