.inputOption {
    
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -5px;
    color: grey;
   cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    
}

.inputOption >h4 {
    margin-left: 5px;
   
}

.inputOption >p {
    font-weight: 700px;
    padding-left: 5px;
   
}